.profileName {
    border: 5px outset red;
    position: relative;
    width: 150px;
}

.profileInfo {
    margin-top: 50px;
    border: 5px outset rebeccapurple;
    position: relative;
    width: 350px;
}