<div class="container">
  <h1>Pipes</h1>
  <p> {{ e | number:'1.1-3' }} </p>
  <p> {{ e | number:'3.1-5' }} </p>
  <p> {{ e | number:'1.0-0' }} </p>
  <p> {{ str | uppercase }} </p>
  <p> {{ str | lowercase }} </p>
  <p> {{ str | titlecase }} </p>
  <p> {{ str | titlecase | slice:1:-2 }} </p>
  <p> {{ date | date:'fullDate' }} </p>
  <p> {{ date | date:'longDate' }} </p>
  <p> {{ date | date:'long' }} </p>
  <p> {{ date | date:'yyyy' }} </p>
  <p> {{ date | date:'MMMM yyyy' }} </p>
  <p> {{ date | date:'MMMM dd, yyyy HH:mm:ss' }} </p>

  <p> {{ float }} </p>
  <p> {{ float | currency }} </p>
  <p> {{ float | percent:'2.1-1' }} </p>
  <pre>{{ obj | json }}</pre>
  <p>{{10 | mult }}</p>
  <p>{{10 | mult:10 }}</p>
  <p>{{'Good morning' | marks }}</p>
</div>
<app-filter></app-filter>